# Prerequisites
*.d
*.obj
*.o
*.inc
*.swp

# CMake Build Artifacts
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Executables
FanoutApp
RunTests
LoadTest
*.exe
*.out
*.app

# IDE Settings
.vscode/
.idea/
*.DS_Store