# CMake specific files and build directories
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Compiled binaries and object files
*.o
*.a
*.so
*.exe
*.out
FanoutApp
LoadTest
RedisTest

# IDE specific files (VS Code)
.vscode/
.idea/

# Local third-party dependencies (Users should download these themselves)
hiredis/
redis-plus-plus/

# OS specific files
.DS_Store
Thumbs.db